In [3]:
#Required Libraries
import pyresparser
import docx
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [2]:
job_description = '''Planning and executing Sales marketing Spend and Pricing analytics projects using descriptive analytics, machine learning, and prescriptive analytics.

Use of analytics towards the problem insighting discovery in the business areas and use of statistical tools and techniques to derive the solutioning.

Work closely with IIC, marketing, sales and product planning teams to service endclients requirements.

Experience years 5 to 7years in data science hands on experience on advanced analytics tools.

Experience in pricing and promotion analyticsIndustry Preferred Analytics services companies such as Fractal, MuSigma, Absolutedata, Dunhumbie, Cartesian..etc

Qualification: Graduation Post Graduation in Statistics Competencies

Excellent acumen of finance commercial knowledge to business areas.

To have a penchant for huge data deluge and reporting sense out of it.

An avid technology enthusiast , Machine leaning methodology , Linear and hedonic regressions, random forestML Model Must have Regression models, Random Forest, Boosting models .

Good to have other advanced ML techniques knowledge SVM, Naive Bayes , KNN, Clustering techniques Kmeans etcAI Deep Learning

Must have some exposure to NLP, Text mining .

Good to have Deep Learning Model knowledge e.g. ANN, CNN, LSTM

Knowledge of SAS, R , python predictive analytics Data Modelling etc.

Hands on with Advance Excel and SQL AI Deep Learning

Must have some exposure to NLP, Text mining .

Good to have Deep Learning Model knowledge e.g. ANN, CNN, LSTM

Automotive domain experience preferred

SOFT SKILLS

Excellent communication skills, verbal as well as written

Positive attitude with flexibility and maturity to work in a challenging client environment

Ability to drive project responsibilities in a dynamic and proactive manner

Ability to showcase three Mahindra RISE Pillars e.g. Accepting No Limits, Driving Positive Change and Alternative Thinking

RoleData Scientist
Industry TypeIT Services & Consulting
DepartmentData Science & Analytics
Employment TypeFull Time, Permanent
Role CategoryData Science & Machine Learning
Education
UG :Any Graduate
PG :Any Postgraduate'''

doc = docx.Document()
doc.add_paragraph(job_description)
doc.save(f"job.docx")

In [10]:
data = pd.read_csv('pred_data.csv')
data = data.iloc[:,1:]

data.head()

,Resume,Name,Email,Skills,Job_Category
0,"Jessica, Claire, resumesample@example.com, (55...","Jessica,","resumesample@example.com,",access requests reporting excel process tax da...,software developer
1,"Jessica Claire, 100 Montgomery St. 10th Floor,...",Jessica Claire,"resumesample@example.com,",architecture facebook apis twitter specificati...,software developer
2,"Jessica, Claire, resumesample@example.com, (55...","Jessica,","resumesample@example.com,",automation scripting scrum hardware mobile git...,software developer
3,"Jessica, Claire, resumesample@example.com, (55...","Jessica,","resumesample@example.com,",architecture facebook apis twitter specificati...,software developer
4,"Jessica Claire, 100 Montgomery St. 10th Floor,...",Jessica Claire,"resumesample@example.com,",customerrequirements productknowledge sap anal...,data scientist

In [30]:
# useing PyResparser to extract information from the resume
extracted_job_info = pyresparser.ResumeParser(f"job.docx").get_extracted_data()['skills']

/usr/local/lib/python3.8/dist-packages/spacy/util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.1 and is incompatible with the current spaCy version (2.3.5). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [31]:
extracted_job_info

['R',
 'Excel',
 'Finance',
 'Ai',
 'Communication',
 'Mining',
 'Consulting',
 'Python',
 'Marketing',
 'Reporting',
 'Sql',
 'Analytics',
 'Machine learning',
 'Statistics',
 'Sales',
 'Sas']

In [12]:
job_constraints =  extracted_job_info['skills']

job_constraints

['R',
 'Excel',
 'Finance',
 'Ai',
 'Communication',
 'Mining',
 'Consulting',
 'Python',
 'Marketing',
 'Reporting',
 'Sql',
 'Analytics',
 'Machine learning',
 'Statistics',
 'Sales',
 'Sas']

In [28]:
# create a vectorizer to convert the job constraints and candidate skills to vectors
vectorizer = TfidfVectorizer()

# convert the job constraints list to a string
job_constraints_str = ' '.join(job_constraints)

# convert the job constraints to a vector
job_constraints_vec = vectorizer.fit_transform([job_constraints_str.lower()])

# convert the candidate skills to vectors
candidate_skills_vecs = vectorizer.transform(data['Skills'])

# calculate the cosine similarity between the job constraints vector and each candidate's skills vector
cos_sim_scores = cosine_similarity(job_constraints_vec, candidate_skills_vecs).flatten()

# add the cosine similarity scores as a new column in the dataframe
data['cos_sim_score'] = cos_sim_scores

# sort the dataframe by the cosine similarity score in descending order
data = data.sort_values('cos_sim_score', ascending=False)

In [29]:
data.head(10)

,Resume,Name,Email,Skills,Job_Category,cos_sim_score
206,"Jessica Claire, Montgomery Street, San Francis...",Jessica Claire,"resumesample@example.com,",numpy operations architecture matplotlib scipy...,data scientist,0.790569
201,"Jessica Claire, Montgomery Street, San Francis...",Jessica Claire,"resumesample@example.com,",numpy operations architecture matplotlib scipy...,data scientist,0.790569
204,"Jessica Claire, 100 Montgomery St. 10th Floor,...",Jessica Claire,"resumesample@example.com,",internalstakeholders finance administration re...,data scientist,0.750000
209,"Jessica, Claire, resumesample@example.com, (55...","Jessica,","resumesample@example.com,",operations qualitycontrol statistics tableau r...,data scientist,0.750000
4,"Jessica Claire, 100 Montgomery St. 10th Floor,...",Jessica Claire,"resumesample@example.com,",customerrequirements productknowledge sap anal...,data scientist,0.750000
196,"Jessica Claire, Montgomery Street, San Francis...",Jessica Claire,"resumesample@example.com,",microsoftexcel sdlc mining pycharm computersci...,data scientist,0.721688
213,"Jessica Claire, Montgomery Street, San Francis...",Jessica Claire,"resumesample@example.com,",mortgage tableau theano ai cloud caffe mathema...,data scientist,0.707107
211,"Jessica Claire, Montgomery Street, San Francis...",Jessica Claire,"resumesample@example.com,",numpy matplotlib access statistics scipy profi...,data scientist,0.661438
10,"Jessica Claire, 100 Montgomery St. 10th Floor,...",Jessica Claire,"resumesample@example.com,",operations apis requests statistics specificat...,data scientist,0.661438
210,"Jessica Claire, 100 Montgomery St. 10th Floor,...",Jessica Claire,"resumesample@example.com,",architecture operations numpy biopython linux ...,data scientist,0.612372